body{
    box-sizing: border-box;
    background-color: #d3d3d386;
}
/*Diseno menu header y home INICIO*/
header{
    width: 100%;
    height: 100%;
    text-align: center;
}

header nav .menu-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.603);
    padding-top: 1%;
    padding-bottom: 1%;
    position: absolute;
}

header nav .list-menu{
    margin: 10px 30px 0px 20px;
    padding-bottom: 5px;
    list-style: none;

    z-index: 2;
}

header nav .list-menu a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.0rem;
    letter-spacing: 2px;
}

/*nav responsive*/
@media (max-width: 650px){
    header nav .menu-list{
        display: flex;
        flex-direction: column;
    }

    header nav .log-carrito{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }

    #btn-login{
        z-index: 20;
    }

    header nav #form-login{
        top: 130%;
    }

    header nav .log-carrito{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-end;
        width: 97%;
        margin-top: 3px;
    }
    header .carrito{
        justify-content: center;
        flex-direction: column;
        width: 80%;
        height: 10rem;
        right: 0;
        top: 120%;
        z-index: 3;
        position: absolute;
        background-color: white;
        color: black;
        line-height: 30px;
        border-radius: 5px;
    }


    header  .home-img img{
        height: 70vh;
    }
}

/*Menu hover effect*/

.menu{
    border: none;
    color: #ffffff;
    outline: none;
    padding: 1px 30px 1px;
    position: relative;
}

.menu:before,.menu:after {
    border: 0 solid transparent;
    transition: all 0.25s;
    content: '';
    height: 24px;
    position: absolute;
    width: 24px;
}

.menu:before {
    border-top: 1px solid #ffffff;
    left: 0px;
    top: -5px;
}

.menu:after {
    border-bottom: 1px solid #ffffff;
    bottom: -5px;
    right: 0px;
}


.menu:hover:before,.menu:hover:after {
    height: 100%;
    width: 100%;
}
/*Menu hover effect fin*/


/*diseno login inicio*/

#form-login{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* width: 20%; */
    height: 12rem;
    right: 0;
    top: 100%;
    z-index: 3;
    position: absolute;
    background-color: white;
    color: black;
    line-height: 30px;
    border-radius: 5px;
}

.mostrar-login{
    display: flex !important;
}

/* #form-login a{
    color: red;
    text-decoration: none;
    width: 75%;
    display: flex;
    justify-content: flex-end;

} */


#form-login input{
    width: 80%;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    background-color: #a6dcef;
    color: black;
}

#form-login input:focus{
    border: none;
    outline: none;
}

#btn-acceder, #btn-salir{
    border: none !important;
    width: 40% !important;
    margin-top: 20px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 500ms ease;
}

#btn-acceder:hover{
    transform: scale(1.05);
}

#btn-salir:hover{
    transform: scale(1.05);
}
/*diseno login fin*/
/*diseno carrito inicio*/

.log-carrito{
    width: 90%;
    height: 8%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    list-style: none;
}

.log-carrito .log-btn{
    border: none;
    outline: none;
   /*  width: 8%; */
    height: 60%;
    border-radius: 5px;
    cursor: pointer;

    transition: all 200ms ease-in-out;
}

.log-btn:hover , .ordenar-btn:hover{
    transform: scale(1.05);
}

.container-carrito{
    height: 100%;
}


.carrito-view img{
    cursor: pointer;
}

.carrito{
    display: none;
}


.mostrar-carrito{
    display: flex !important;
}

.carrito{
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 10rem;
    right: 0;
    top: 120%;
    z-index: 3;
    position: absolute;
    background-color: white;
    color: black;
    line-height: 30px;
    border-radius: 5px;
}

#lista-carrito thead tr th{
    background-color: #a6dcef;
}

#lista-carrito tbody td{
    border-bottom: 1px black solid;
}
.carrito-view .ordenar-btn{
    width: 30%;
    border: none;
    padding: 5px;
    margin: 15px;
    margin: auto;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    background-color: #a6dcef;
    border-radius: 5px;
}

.log-carrito li{
    list-style: none;
}

/*diseno carrito fin*/

.home-img img{
    width: 100%;
    height: 100vh;
}

/*Diseno menu header y home FIN*/


/*diseno de los menus de comida inicio*/
    
    /*card responsive*/
@media (max-width: 650px){
    body .menu-food h1{
        width: 70%;
    }

    /*plato fuerte*/
    .menu-food .plato-fuerte .card-food{
        width: 50%;
    }

    /*entradas y bebidas*/

    .menu-food .entradas .card-food{
        width: 40%;
    }

    /*agregar carrito*/

    .menu-food .plato-fuerte .agregar-carrito{
        width: 50%;
        height: auto;
        font-size: 1rem;
    }

    .menu-food .entradas .agregar-carrito{
        width: 40%;
        height: 11%;
        font-size: 1rem;
    }

}



    /*platos fuertes*/
.menu-food{
    text-align: center;
    width: 100%;
    height: 100%;
}
.menu-food h1{
    width: 20%;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 4rem;
    border: solid 5px black;
    margin: auto;
    margin-top: 2rem;
}

.menu-food h2{
    text-decoration: underline goldenrod;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    margin: auto;
    padding: 6rem 0rem 3rem 0rem;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 5px;
}

.plato-fuerte{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-food{
    transition: all 600ms ease-in-out;
    overflow: hidden;
    background-color: white;
    z-index: 1;
}

.plato-fuerte .card-food{
    width: 25%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.603);
    margin: 60px;
}

.plato-fuerte .card-food .comida-img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.plato-fuerte .info-card-food{
    width: 70%;
    margin: auto;
    padding-bottom: 0.1rem;
}

    /*entradas*/


.entradas{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.entradas .card-food{
    width: 20%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.603);
    margin: 60px;
}

.entradas .card-food img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.entradas .info-card-food{
    width: 70%;
    margin: auto;
    padding-bottom: 0.1rem;
}
/*diseno de los menus de comida fin*/

/*diseno bebidas inicio*/

.entradas .card-food .bebidas-img{
    width: 60%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: solid 1px black;
}

/*diseno bebidas fin*/


/*diseno agregar al carrito inicio*/

.agregar-carrito{
    width: 25%;
    height: 36%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.336);
    color: black;
    font-size: 1.5rem;
    font-family: 'Libre Baskerville', serif;
    text-decoration: underline goldenrod;
    opacity: 0;

    transition: all 500ms ease;
}

.agregar-carrito:hover{
    opacity: 1;
}

.no{
    opacity: 1;
}
.agregar-carrito .agregar-img{
    cursor: pointer;
    width: 20%;
}


/*agregar al carrito entradas inicio*/

.card-food .min{
    width: 20%;
    height: 36%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.336);
    color: black;
    font-size: 1.5rem;
    font-family: 'Libre Baskerville', serif;
    text-decoration: underline goldenrod;
    

    transition: all 500ms ease;
}

.min .agregar-img{
    cursor: pointer;
    width: 20% !important;
}
/*agregar al carrito entradas fin*/

/*agregar al carrito bebidas inicio*/

.card-food .drink{
    width: 20%;
    height: 36%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.336);
    color: black;
    font-size: 1.5rem;
    font-family: 'Libre Baskerville', serif;
    text-decoration: underline goldenrod;
    
    transition: all 500ms ease;
}

.drink .agregar-img{
    cursor: pointer;
    width: 20% !important;
}

/*agregar al carrito bebidas fin*/
/*diseno agregar al carrito fin*/

/*diseo fotter*/

footer{
    height: 20rem;
    text-align: center;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: #000000;
    background-color: #000000;
}

.contactos{
    display: flex;
    flex-direction: column;
    line-height: 28px;
}
.working-hours{
    line-height: 30px;
}

/*diseno redes ico*/
.redes{
    list-style: none;
    display: flex;
    flex-direction: row;

}


/*diseno button up inicio*/

.up{
    position: fixed;
    bottom: 41%;
    left: 95%;
    background-color: rgb(12, 122, 147);
    border-radius: 100% 100% 10% 100%;
    cursor: pointer;
    transition: all 500ms ease;
}

.up:hover{
    transform: scale(1.09);
    background-color: #021e26;
}

.no-display-up{
    display: none;
}

.display-up{
    display: block;
}

@media (max-width: 1100px) {
    .up{
        left: 90%;
        bottom: 60%;
    }
}

@media (max-width: 724px) {
    .up{
        left: 80%;
        bottom: 60%;
    }
}

/*diseno button up fin*/



/*diseno de los estilos del CMS*/

.iframe{
    width: 100vw;
    height: 100vh;
}

iframe{
    width: 100vw;
    height: 100vh;
}

