body{
    box-sizing: border-box;
    background-color: #d3d3d386;
}
/*Diseno menu header y home INICIO*/
header{
    width: 100%;
    height: 100%;
    text-align: center;
}

header nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.603);
    padding-top: 1%;
    padding-bottom: 1%;
    position: absolute;
}

header nav .list-menu{
    margin: 10px 30px 0px 20px;
    padding-bottom: 5px;
    list-style: none;
}

header nav .list-menu a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.0rem;
    letter-spacing: 2px;
}

/*Menu hover effect*/

.menu{
    border: none;
    color: #ffffff;
    outline: none;
    padding: 1px 30px 1px;
    position: relative;
}

.menu:before,.menu:after {
    border: 0 solid transparent;
    transition: all 0.25s;
    content: '';
    height: 24px;
    position: absolute;
    width: 24px;
}

.menu:before {
    border-top: 1px solid #ffffff;
    left: 0px;
    top: -5px;
}

.menu:after {
    border-bottom: 1px solid #ffffff;
    bottom: -5px;
    right: 0px;
}


.menu:hover:before,.menu:hover:after {
    height: 100%;
    width: 100%;
}

/*Menu hover effect fin*/

/*diseno redes ico*/
.redes{
    display: flex;
    margin-top: 1rem;
    position: absolute;
}

.home-img img{
    width: 100%;
    height: 100vh;
}

/*Diseno menu header y home FIN*/


/*diseno de los menus de comida inicio*/

    /*platos fuertes*/
.menu-food{
    text-align: center;
    width: 100%;
    height: 100%;
}
.menu-food h1{
    width: 20%;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 4rem;
    border: solid 5px black;
    margin: auto;
    margin-top: 2rem;
}

.menu-food h2{
    text-decoration: underline goldenrod;
    width: 20%;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    margin: auto;
    padding: 6rem 0rem 3rem 0rem;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 5px;
}

.plato-fuerte{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-food{
    transition: all 600ms ease-in-out;
    overflow: hidden;
    background-color: white;
    z-index: 1;
}

.plato-fuerte .card-food{
    width: 25%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.603);
    margin: 60px;
}

.plato-fuerte .card-food .comida-img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.plato-fuerte .info-card-food{
    width: 70%;
    margin: auto;
    padding-bottom: 0.1rem;
}

    /*entradas*/


.entradas{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.entradas .card-food{
    width: 20%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.603);
    margin: 60px;
}

.entradas .card-food img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.entradas .info-card-food{
    width: 70%;
    margin: auto;
    padding-bottom: 0.1rem;
}
/*diseno de los menus de comida fin*/

/*diseno bebidas inicio*/

.entradas .card-food .bebidas-img{
    width: 60%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: solid 1px black;
}

/*diseno bebidas fin*/


/*diseno agregar al carrito inicio*/

.agregar-carrito{
    width: 25%;
    height: 36%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.336);
    color: black;
    font-size: 1.5rem;
    font-family: 'Libre Baskerville', serif;
    text-decoration: underline goldenrod;
    opacity: 0;

    transition: all 500ms ease;
}

.no{
    opacity: 1;
}
.agregar-carrito .agregar-img{
    cursor: pointer;
    width: 20%;
}

/*diseno agregar al carrito fin*/
/*diseo fotter*/

footer{
    height: 15rem;
    text-align: center;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: #000000;
    background-color: #000000;
}

.contactos{
    display: flex;
    flex-direction: column;
    line-height: 28px;
}
.working-hours{
    line-height: 30px;
}