<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Restaurante</title>
</head>
<body>
    <header>
        <nav>
            <div class="menu-list">    
                <li class="list-menu"><a id="inicio" class="menu" href="#">INICIO</a></li>
                <li class="list-menu"><a id="nosotros" class="menu" href="#">CONTACTOS</a></li>
            </div>

            <div class="log-carrito">
                <button id="btn-login" class="log-btn">Login</button>

                <form id="form-login" action="" autocomplete="off">
                    
                    <label for="user">Usuario</label>
                    <input type="text" placeholder="user" value="admin@gmail.com" id="user">
                    
                    <label for="pass">Contraseña</label>
                    <input type="password" name="" id="pass" value="admin123" placeholder="Password">

                    <input id="btn-acceder" type="submit" value="Acceder">
                    

                </form>
                
                <div class="container-carrito" >
                    <ul>
                        <li class="carrito-view">
                            <img id="carrito-btn-view" src="img/ico/carrito-icono.png" alt="">
                            <div id="carrito" class="carrito">
                                <table id="lista-carrito">
                                    <thead>
                                        <tr>
                                            <th>Plato</th>
                                            <th>Precio</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <button class="ordenar-btn">Ordenar</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="home-img">
            <img src="img/home-img-2-redux.jpg" alt="">
        </div>
    </header>
    

    <div class="menu-food">

            <h1>Menu</h1>
            
            <h2>Plato Fuerte</h2>

            <!--Seccion de los platos fuertes-->

            <div class="plato-fuerte">

                <div class="card-food">
                    
                    <div class="agregar-carrito">
                        <p>Precio: <span>95623</span></p>
                        <img id = "no" class="agregar-img" src="img/ico/anadir.png" alt="ico agregar">
                        <br>
                        <span>Agregar al carrito</span>
                    </div>
                    <img class="comida-img" src="img/entradas/Arbolitos de navidad hojaldrados.jpg" alt="">
                    <div class="info-card-food">
                        <h3>kyjthrgfd</h3>
                        <p>;lkyjthrgerhtjkyuip;oiikuyjtrgthyuki</p>
                        <p></p>
                    </div>
                </div>
        </div>

            <div class="plato-fuerte" id="VuePlatoFuerte">

                    <div class="card-food" v-for="Vfuerte in VFuerteDOM">
                        
                        <div class="agregar-carrito">
                            <p>Precio: <span>{{Vfuerte.precio}}</span></p>
                            <img v-bind:id = "Vfuerte.dataKey" class="agregar-img" src="img/ico/anadir.png" alt="ico agregar">
                            <br>
                            <span>Agregar al carrito</span>
                        </div>
                        <img class="comida-img" v-bind:src = "Vfuerte.urlImg" alt="">
                        <div class="info-card-food">
                            <h3>{{Vfuerte.nombre}}</h3>
                            <p>{{Vfuerte.descripcion}}</p>
                            <p>clave {{Vfuerte.dataKey}}</p>
                        </div>
                    </div>
            </div>

            <!-- Seccion de las entradas -->

            <h2>Principales Entradas</h2>
            <div class="entradas" id="VueEntradas">

                <div class="card-food" v-for="Ventradas in VEntradaDOM">
                    <div class="agregar-carrito min">
                        <p>Precio: <span>{{Ventradas.precio}}</span></p>
                        <img class="agregar-img" src="img/ico/anadir.png" alt="ico agregar">
                        <br>
                        <span>Agregar al carrito</span>
                    </div>
                    <img class="comida-img" v-bind:src = "Ventradas.urlImg" alt="">
                    <div class="info-card-food">
                        <h3>{{Ventradas.nombre}}</h3>
                        <p>{{Ventradas.descripcion}}</p>
                    </div>
                </div>
            </div>

            <!--Seccion de bebidas-->

            <h2>Catalogo de Bebidas</h2>
            <div class="entradas" id="VueBebidas">

                <div class="card-food" v-for="Vbebidas in VBebidasDOM">
                    <div class="agregar-carrito drink">
                        <p>Precio: <span>{{Vbebidas.precio}}</span></p>
                        <img class="agregar-img" src="img/ico/anadir.png" alt="ico agregar">
                        <br>
                        <span>Agregar al carrito</span>
                    </div>
                    <img class="bebidas-img" v-bind:src = "Vbebidas.urlImg" alt="">
                    <div class="info-card-food">
                        <h3>{{Vbebidas.nombre}}</h3>
                        <p>{{Vbebidas.descripcion}}</p>
                    </div>
                </div>

            </div>
    </div>

    <div class="up no-display-up" id="scroll-up">
        <img src="img/ico/button-up.png" style="width: 3rem;" alt="">
    </div>
    <footer>
        <div class="contactos">
            <Span>Telefonos: 809-123-1234</Span>
            <span>Direccion: Santo Domingo Este, Republica Dominicana</span>
        </div>
        
        <span>2020 © Restaurante Todos los Derechos Reservados</span>

        <div class="working-hours">
            <h4>Estamos Abiertos</h4>
            
            <span>Lunes a Viernes</span>
            <span>11:00 Am a 5:00 Pm</span>
            <hr>
            <span>Sabados y Domingos</span>
            <span>12:00 Pm a 12:00 Am</span>
        </div>

    </footer>

    <!-- llamada de live chat -->
    <section>
        <script type="text/javascript">function add_chatinline(){var hccid=45928616;var nt=document.createElement("script");nt.async=true;nt.src="https://mylivechat.com/chatinline.aspx?hccid="+hccid;var ct=document.getElementsByTagName("script")[0];ct.parentNode.insertBefore(nt,ct);}
            add_chatinline(); </script>
    </section>


    <script src="main/view-change.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="main/FirebaseInitializeApp.js"></script>
    <script src="main/FireBaseConectec.js"></script>
    <script src="main/VueDOM.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>
</html>
